.App {
  text-align: center;
  font-size: calc(16px + 2vmin);
  font-family: 'Loved by the King', cursive;
}

.header {
  font-family: 'Metamorphous', cursive;
  font-size: calc(42px + 1.5vmin);
 
  
}

.main {

  
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  font-size: calc(5px + 1.75vmin);
}
