body {
  margin: 0;
  background-image: url(../public/images/parchment.jpg);
  font-family: 'Loved by the King', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
